/*{
    border: 1px solid red !important;
}*/
/* Old Colors:
Gray: #667375
Dark Blue: #06706F
Light Blue: #F3FFFE


New Colors:
Gray: #fcfcfc
Light blue: #e7f4f8
Middle blue: #c8dfe6
Dark blue: #485c63
*/
    
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #054458;
    font-size: 200%;
}

/*.btn {
    background-color: #AEFFF9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/
.center {
    text-align: center;
}

body {
    background-color: #fcfcfc;
}

h1 {
    font-size: 300%;
    font-family: 'Satisfy', cursive; 
    color: #054458;
}
h2 {
    font-size: 200%;
    font-family: Verdana, sans-serif;
    color: #667375;
}
h3 {
    font-size: 200%;
    color: #984447;
}
h3.black {
    font-size: 200%;
    color: black;
}
h3.gray {
    font-size: 200%;
    color: #667375;
}
h4.white {
    color: white;
}

IMG.center {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    border-radius: 8px;
    box-shadow: 5px 5px 2px grey;
}

.right {
    text-align: right;
}  
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
 
p {
    font-size: 125%;
    color: #667375;
}
p.subscript {
    color: black;
}
.spacer {
    height: 25px;
}
.spacer-large {
    height: 100px;
}
/* Start of Menu CSS */
.topnav {
  background-color: #e7f4f8;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #485c63;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #e7f4f8;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c8dfe6;
  color: #485c63;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #e7f4f8;
  color: #485c63;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* End of Menu CSS */

/* Start of Footer CSS*/

