
input {
  width: 60%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

input:focus {
  background-color: white;
}

select {
  width: 20%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
}

textarea {
  width: 30%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
@media only screen and (max-width: 600px) {
	input {
		width: 100%;
		padding: 6px 10px;
		margin: 4px 0;
		box-sizing: border-box;
		background-color: #f8f8f8;
	}
	select {
		width: 100%;
		padding: 16px 20px;
		border: none;
		border-radius: 4px;
		background-color: #f8f8f8;
	}
	textarea {
		width: 100%;
		height: 150px;
		padding: 12px 20px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		background-color: #f8f8f8;
		resize: none;
	}
}